@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    @include font-stack-main;
    background: $bg-body;
}

main {
    margin-top: 5rem;
}

h2 {
    @include font-stack-second-heading;
}

h3 {
    @include font-stack-third-heading;
}

.message {
    width: 90%;
    text-align: center;
    @include flex(center, center, row, nowrap);

    &__content {
        width: 100%;
        margin-bottom: 1rem;
        @include font-stack-message-error;
    }
}

.slide-in-left-enter {
    transform: translateX(-100%);
}

.slide-in-left-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 200ms;
}

.slide-in-left-exit {
    transform: translateX(0%);
    opacity: 1;
}

.slide-in-left-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 200ms;
}

.user-places,
.message__container-loading {
    @include flex(center, center, column, nowrap);
    width: 100%;
    height: 100vh;

    @include tablet {
        @include flex(center, center, row, nowrap);
    }
}