@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.users {
    &__item {
        margin: 1rem;
        width: calc(45% - 2rem);
        min-width: 17.5rem;

        @include tablet {
            width: calc(48% - 2rem);
        }
    }

    &__item-link {
        @include flex(flex-start, center, row, nowrap);
        width: 100%;
        height: 100%;
        padding: 1rem;
        color: $main-color-users-item;
        background: $bg-users-item;

        &:hover,
        &:active {
            background: $bg-users-item-hover;
        }

        &:hover h2,
        &:active h2,
        &:hover h3,
        &:active h3 {
            color: $bg-users-item;
        }
    }

    &__item-content {
        padding: 0;
    }

    &__item-image {
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
    }

    &__item-name {
        @include font-stack-subheading;
        margin-bottom: 0.5rem;
    }

    &__item-shared-places {
        margin: 0;
    }
}