@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.users {
    &__item {
        margin: 1rem;
        width: calc(45% - 2rem);
        min-width: 17.5rem;
    }

    // .user-item a {
    //     display: flex;
    //     align-items: center;
    //     width: 100%;
    //     height: 100%;
    //     text-decoration: none;
    //     padding: 1rem;
    //     color: white;
    //     background: #292929;
    //   }

    //   .user-item a:hover,
    //   .user-item a:active {
    //     background: #ffd900;
    //   }

    &__item-content {
        padding: 0;
    }

    &__item-image {
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
    }

    &__item-name {
        @include font-stack-subheading;
        margin: 0 0 0.5rem 0;

        &:hover,
        &:active {
            color: $bg-users-item;
        }
    }

    &__item-shared-places {
        margin: 0;

        &:hover,
        &:active {
            color: $bg-users-item;
        }
    }
}