// screen size
$desktop-breakpoint: 90rem; // 1440px
$tablet-breakpoint: 48rem; // 768px

// background 
$bg-body: #4d4d4d; //bg for body
$bg-users-item: #292929; // bg for list of users in main page;
$bg-users-item-hover: #ffd900; //  // bg for list of users in main page when it hovers and active;
$color-header-button: #ff0055;


// color for fonts
$main-color-users-item: white;

// button
$color-button-hover: #ff4382;
$color-button-disabled: #ccc;
$color-font-disabled: #979797;
$color-button-delete: #830000;
$color-button-delete-hover: #f34343;

//  modal
$bg-header-modal: #2a006e;