@use '../partials/variables' as *;
@use '../partials/mixins' as *;

@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/OpenSans-Bold.woff2') format ('woff2'),
    url('../../assets/fonts/OpenSans-Bold.woff2') format ('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../../assets/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@mixin font-stack($font-style, $font-size, $font-weight, $line-height, $color) {
  font-style: $font-style;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

// main font stack
@mixin font-stack-main {
  @include font-stack(normal, 1rem, 400, 1.2rem, $main-color-users-item);
}

// font for h2 in list of users
@mixin font-stack-second-heading {
  @include font-stack(normal, 1.25rem, 700, 1.25rem, $bg-users-item-hover);

  @include tablet {
    font-size: 1.4rem;
  }
}

// font for h3 in list of users
@mixin font-stack-third-heading {
  @include font-stack(normal, 1.1rem, 700, 1.2rem, $bg-users-item-hover);

  @include tablet {
    font-size: 1.2rem;
  }
}

// font for button
@mixin font-stack-button {
  @include font-stack(normal, 0.8rem, 400, 1rem, $main-color-users-item);

  @include tablet {
    font-size: 1rem;
  }
}

// font for content in error message
@mixin font-stack-message-error {
  @include font-stack(normal, 1.25rem, 700, 1.25rem, $color-header-button);
}

// font for invalid update place and add new one
@mixin font-stack-warning-message {
  @include font-stack(normal, 0.7rem, 400, 0.7rem, $font-color-warning);

  @include tablet {
    font-size: 0.8rem;
  }
}
