@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;

    &:after {
        content: ' ';
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid $color-color-border;
        border-color: $color-color-border transparent $color-color-border transparent;

        @include keyframes(spin) {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @include animate(spin, 1.2s, linear, infinite);
    }
}

.loading-spinner__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}