@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.footer {
  position: absolute;
  bottom: -10%;
  padding: 1rem;
  background-color: $color-header-button;
  width: 100%;

  &__text {
    font-size: 0.8rem;
    width: 100%;
    text-align: center;

    @include tablet {
      font-size: 1.10rem;
    }
  }

  &__container-heart-icon {
    margin: 0 0.5rem;
  }

  &__icon-heart {
    color: $main-color-users-item;
    width: 1rem;
    height: 1rem;
  }
}