@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    @include font-stack-main;
    background: $bg-body;
}

main {
    margin-top: 5rem;
}

h2 {
    @include font-stack-subheading;
}

h3 {
    @include font-stack-main;
}

.message {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    color: $bg-users-item;
    @include flex(center, center, row, nowrap);

    &__content {
        padding: 1rem;
    }
}

.slide-in-left-enter {
    transform: translateX(-100%);
}

.slide-in-left-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 200ms;
}

.slide-in-left-exit {
    transform: translateX(0%);
    opacity: 1;
}

.slide-in-left-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 200ms;
}